body {
    margin: 00px;
    background-color: rgba(0, 0, 360, 0.5);
}

div {
    margin: 20px;
    height: 100px;
    display: flex;
    background-color: rgba(360, 0, 0, 0.5);
}

div > div {
    margin: 10px;
    height: 80%;
    flex-grow: 1;
    background-color: rgba(0, 360, 0, 0.5);
}

#big-box {
    flex-grow: 4;
}

.row3 {
    width: 20%
}

