{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poll Submission page</title>
  </head>
  <body>

    <header>
      <h1>ICE CREAM!</h1>
      <h4>form page</h4>
    </header>

    <form action="{% url 'submit' %}" method="get">
      {% csrf_token %}
      <input type="radio" name="flavor" value="chocolate"/> Chocolate<br>
      <input type="radio" name="flavor" value="vanilla"/> Vanilla<br>
      <input type="radio" name="flavor" value="strawberry"/> Strawberry<br>
      <input type="submit">
    </form>

    <a href="{% url 'summary' %}">Click me to see poll results!</a>

  </body>
</html>
