{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KH portfolio</title>
    <link href="{% static 'kw_data/index.css' %}" rel="stylesheet">
  </head>
  <body>

    <div class='navbar'>

      <section class='logo'>
      </section>

      <section class='nav'>
        <a>Main</a>
      </section>

      <section class='nav'>
        <a>About Kyle</a>
      </section>

      <section class='nav'>
        <a>Blog</a>
      </section>

      <section class='nav'>
        <a>Contact</a>
      </section>

    </div>

    <div class='empty-block'>

    </div>

    <div>

      <section>
        <img src="{% static 'kw_data/sample.png' %}" class='avatar'></img>
        <div class='buttons'>
          <button> View </button>
          <button> GitHub </button>
          <button> CodePen </button>
        </div>
      </section>

      <section>
        <img src="{% static 'kw_data/sample.png' %}" class='avatar'></img>
        <div class='buttons'>
          <button> View </button>
          <button> GitHub </button>
          <button> CodePen </button>
        </div>
      </section>

      <section>
        <img src="{% static 'kw_data/sample.png' %}" class='avatar'></img>
        <div class='buttons'>
          <button> View </button>
          <button> GitHub </button>
          <button> CodePen </button>
        </div>
      </section>

      <section>
        <img src="{% static 'kw_data/sample.png' %}" class='avatar'></img>
        <div class='buttons'>
          <button> View </button>
          <button> GitHub </button>
          <button> CodePen </button>
        </div>
      </section>


    </div>



  </body>
</html>
