{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit Joke</title>
    <link rel="stylesheet" href="{% static 'jokes/style.css' %}">
  </head>
  <body>

    <h2>Submit a joke</h2>
    <h5>Ex setup: Why did the chicken cross the playground?</h5>
    <h5>Ex punchline: to get to the other slide! (haha!)</h5>

    <form>
      {% csrf_token %}
      <textarea id="joke-setup" placeholder="Joke Setup"></textarea>
      <textarea id="joke-punchline" placeholder="Punchline"></textarea>
      <input type="submit">
    </form>


    <br><br><br><h2>Jokes</h2>






  </body>
  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="{% static 'jokes/ajax-java.js' %}"></script>
</html>
